{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="parent">
	<div class="pop-up" id="pop-up">
		<div class="pop-up-container">
			<div class="pop-up-body" id="pop-up-body">


				<div class="container-auth" id="container">

					<!-- Регистрация -->
					<div class="form-container sign-up-container">
						<form class="form-control" action="{% url 'user:registration' %}" method="post">
							{% csrf_token %}
							<h1>Регистрация</h1>
							<div class="social-container">
								<a href="#" class="social">
									<i class="fab fa-google-plus-g">
										<img src="{% static 'icons/vk.svg' %}" alt="vkontakte" width="38" height="38">
									</i>
								</a>
								<a href="#" class="social">
									<i class="fab fa-facebook-f">
										<img src="{% static 'icons/odnoclassniki.svg' %}" alt="odnoclassniki" width="38" height="38">
									</i>
								</a>
								<a href="#" class="social">
									<i class="fab fa-linkedin-in">
										<img src="{% static 'icons/google.svg' %}" alt="google" width="38" height="38">
									</i>
								</a>
							</div>
							<span>или используйте свой адрес электронной почты для регистрации</span>

							<label for="id_email" class="form-label"></label>
							<input type="email" class="form-input" name="email"
										 value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
										 id="id_email" placeholder="Телефон или почта" required>
 										 {% if form.email.errors %}
							       <div style="color:red">{{ form.email.errors }}</div>
										 {% endif %}

							<label for="id_first_name" class="form-label"></label>
							<input type="text" class="form-input" name="first_name"
										 value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
										 id="id_first_name" placeholder="Введите ваше имя" required>
										 {% if form.first_name.errors %}
							       <div style="color:red">{{ form.first_name.errors }}</div>
										 {% endif %}

							<label for="id_last_name" class="form-label"></label>
							<input type="text" class="form-input" name="last_name"
										 value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
										 id="id_last_name" placeholder="Введите вашу фамилию" required>
							       {% if form.last_name.errors %}
							       <div style="color:red">{{ form.last_name.errors }}</div>
										 {% endif %}

							<label for="id_username" class="form-label"></label>
							<input type="text" class="form-input" name="username"
										 value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
										 id="id_username" placeholder="Введите ваш username" required>
										 {% if form.username.errors %}
							       <div style="color:red">{{ form.username.errors }}</div>
										 {% endif %}

							<label for="id_password1" class="form-label"></label>
							<input type="password" class="form-input" name="password1"
										 value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
										 id="id_password1" placeholder="Введите ваш пароль" required>
										 {% if form.password1.errors %}
							       <div style="color:red">{{ form.password1.errors }}</div>
										 {% endif %}

							<label for="id_password2" class="form-label"></label>
							<input type="password" class="form-input" name="password2"
										 value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
										 id="id_password2" placeholder="Подтвердите пароль" required>
										 {% if form.password2.errors %}
							       <div style="color:red">{{ form.password2.errors }}</div>
										 {% endif %}

							<button type="submit">Регистрация</button>
						</form>
					</div>

					<!-- Авторизация -->
					<div class="form-container sign-in-container">
					<form class="form-control" action="{% url 'user:login' %}" method="post">
						{% csrf_token %}
						{{ form.non_field_errors }}
						<h1>Вход</h1>
						<div class="social-container">
						<a href="#" class="social">
							<i class="fab fa-google-plus-g">
								<img src="{% static 'icons/vk.svg' %}" alt="vkontakte" width="38" height="38">
							</i>
						</a>
						<a href="#" class="social">
							<i class="fab fa-facebook-f">
								<img src="{% static 'icons/odnoclassniki.svg' %}" alt="odnoclassniki" width="38" height="38">
							</i>
						</a>
						<a href="#" class="social">
							<i class="fab fa-linkedin-in">
								<img src="{% static 'icons/google.svg' %}" alt="google" width="38" height="38">
							</i>
						</a>
						</div>

						<label for="id_email" class="form-label"></label>
						<input type="email" class="form-input" name="username" id="id_email" placeholder="Телефон или почта" required>

						<label for="id_password" class="form-label"></label>
						<input type="password" class="form-input" name="password" id="id_password" placeholder="Пароль" required>

						<a href="#">Забыли пароль?</a>
						<button type="submit">Вход</button>
					</form>
					</div>

					<div class="overlay-container">
						<div class="overlay">
							<div class="overlay-panel overlay-left">
								<h1>Добро пожаловать!</h1>
								<p>Пожалуйста, войдите, используя свои личные данные.</p>
								<button class="ghost" id="signIn">Вход</button>
							</div>
							<div class="overlay-panel overlay-right">
								<h1>Привет, Друг!</h1>
								<p>Введите свои личные данные и начните арендовать вместе с нами</p>
								<button class="ghost" id="signUp">Регистрация</button>
							</div>
						</div>
					</div>
				</div>


				<div class="pop-up-close" id="pop-up-close">&#10006</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}