{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class="form-overlay">
	<div class="login-container">
		<div class="login-body">
				<form action="{% url 'user:login' %}" method="post">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<h2>Добро пожаловать в LendMe</h2>
					<div class="social-container">
						<a href="#">
							<i class="fab fa-google-plus-g">
								<img src="{% static 'icons/vk.svg' %}" alt="vkontakte" width="38" height="38">
							</i>
						</a>
						<a href="#">
							<i class="fab fa-facebook-f">
								<img src="{% static 'icons/odnoclassniki.svg' %}" alt="odnoclassniki" width="38" height="38">
							</i>
						</a>
						<a href="#">
							<i class="fab fa-linkedin-in">
								<img src="{% static 'icons/google.svg' %}" alt="google" width="38" height="38">
							</i>
						</a>
					</div>

					<div class="form-element">
						<label for="id_email"></label>
						<input type="email" name="username" id="id_email" placeholder="Телефон или почта" required>
					</div>

					<div class="form-element">
						<label for="id_password"></label>
						<input type="password" name="password" id="id_password" placeholder="Пароль" required>
						<span class="show-password-icon">
              <svg height="12" width="12" viewBox="0 0 24 24">
                  <path d="M10 12a2 2 0 1 0 4 0 2 2 0 0 0-4 0m2 5a5 5 0 1 1 0-10 5 5 0 0 1 0 10m0-13.5A12.7 12.7 0 0 0 0 12a12.73 12.73 0 0 0 24 0 12.7 12.7 0 0 0-12-8.5"></path>
              </svg>
            </span>
					</div>

					<div class="form-element">
						<button type="submit">Вход</button>
					</div>

					<div class="form-element">
						<a class="link-reset-password" href="{% url 'user:password_reset' %}">Забыли пароль?</a>
					</div>

					<div class="form-element">
						<a class="link-reg" href="{% url 'user:registration' %}">Еще не зарегистрировались в LendMe? Зарегистрироваться</a>
					</div>
				</form>
		</div>
	</div>
</div>
{% endblock %}
