{% extends "main/base.html" %}
{% load static %}
{% block title %} {{ author.get_full_name }}. Профиль пользователя на LendMe {% endblock %}
{% block content %}

<div class="container">
    <div class="profile">
        <div class="profile-left">
            <div class="avatar-profile">
                <img src="
                    {% if author.avatar %}
                    {{ author.avatar.url }}
                    {% else %}
                    {% static 'avatar/avatar.jpg' %}{% endif %}" />
            </div>
            <h3>{{ author.get_full_name }}</h3>
            <p>Rating: 4.5</p>
            <p>На LendMe с {{ author.date_joined }}</p>
        </div>

        <div class="profile-right">
            <h3>Объявления пользователя</h3>
            <div class="item-cards">
                {% for item in items %}
                <div class="product-item">
                    <div class="product-img">
                        <a href="/catalog/product/{{ item.slug }}/">
                            <img src="{{ item.itemimage_set.first.image.url }}" alt="{{ item.name }}">
                        </a>
                        <div class="product-list">
                            <a class="product-name" href="/catalog/product/{{ item.slug }}/">
                            <h3>{{ item.name }}</h3>
                            </a>
                            <p class="price">{{ item.price }}₽/{{ item.time_period }}</p>
                            <p class="data">{{ item.pub_date }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}