@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container {
    width: 1280px;
    margin: 50px auto;
}

.logo {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

header ul.nav a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

}

header ul.nav {
    float: right;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: color 500ms ease;
}

.nav_item{
    color: #414141;
}

.nav_item:hover{
    color: #8a8989;
}

.advertise{
    color: #ffffff;
    border-radius: 15px;
    background: rgb(15, 148, 15);
    padding: 7px;
}

.advertise:hover{
    background-color: #3a71e7;
}

.presentation {
    margin: 50px 0;
    background: url('background/bg.jpg') no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

.presentation::after {
    content: 'Сделать свою жизнь проще';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 400px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.presentation::before {
    content: 'еще никогда не было так проста';
    position: absolute;
    top: 200px;
    left: 50px;
    width: 400px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

footer {
    text-align: center;
    margin-top: 100px;
}

/* Карточка товара */
.product-card {
    display: inline-block;
}

.product-item {
   width: 200px;
   height: 150px;
   margin: 0 auto;
   padding: 10px 10px 5px 10px;
   border: 1px solid #eee;
   background: white;
   font-family: "Open Sans";
   overflow: hidden;
   transition: .4s linear;
}

.product-img {
   transition: 1s ease-in-out;
}

.product-img:hover {
   transform: scale(1.1);
}

.product-img img {
   display: block;
   width: 100%;
}
.product-list {
   margin-top: 15px;
}
.product-list h3 {
   font-weight: 700;
   color: #39404B;
   margin: 0;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 2;
}
.price {
   color: #E34D38;
   display: block;
   margin-bottom: 12px;
}
.stars {
   height: 14px;
   line-height: 14px;
   margin: 7px 0;
}
.stars:before {
   content: "\f005\f005\f005\f005\f006";
   color: #EFB71C;
   font-size: 14px;
   font-family: FontAwesome;
}
.actions {
   border-top: 1px solid #eee;
   padding-top: 4px;
   font-size: 13px;
   height: 30px;
   line-height: 30px;
}
.actions:after {
   content: "";
   display: table;
   clear: both;
}
.add-to-cart, .add-to-links {
   float: left;
}
.cart-button {
   text-decoration: none;
   color: #8C877C;
   padding-right: 20px;
   border-right: 1px solid #ddd;
   transition: .4s linear;
}
.cart-button:before {
   content: "\f07a";
   font-family: FontAwesome;
   margin-right: 10px;
}
.add-to-cart:hover .cart-button, .wishlist:hover, .compare:hover {
   color: #E34D38;
}
.wishlist, .compare {
   color: #8C877C;
   padding-left: 20px;
   transition: .4s linear;
}
.wishlist:after, .compare:after {
   display: inline-block;
   font-family: FontAwesome;
   font-size: 13px;
}
.wishlist:after {
   content: "\f004";
}
.compare:after {
   content: "\f079";
}