{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card glass">
        <div class="card-header">
          Новое объявление
        </div>
        <div class="card-body">
          <form action="{% url 'main:additem' %}" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
            <!-- Категория -->
            <div class="form-group">
                <label for="id_category" class="form-label">Категория</label>
                <select name="category" id="id_category" class="form-control" required>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                {% if form.category.errors %}
                <div style="color: red">{{ form.category.errors }}</div>
                {% endif %}
            </div>

            <!-- Название -->
            <div class="form-group">
                <label for="id_name" class="form-label">Название объявления</label>
                <input type="text" class="form-control" id="id_name"
                       name="name" required {% if form.name.value %}value="{{ form.name.value }}"{% endif %}>
                       {% if form.name.errors %}
                       <div style="color:red">{{ form.name.errors }}</div>
                       {% endif %}
            </div>


            <!-- Описание -->
            <div class="form-group">
                <label for="id_description" class="form-label">Описание объявления</label>
                <input type="text" class="form-control" id="id_description"
                       name="description" required>
                       {% if form.description.errors %}
                       <div style="color:red">{{ form.description.errors }}</div>
                       {% endif %}
            </div>

            <!-- Цена -->
            <div class="form-group">
                <label for="id_price" class="form-label">Цена</label>
                <input type="text" class="form-control" id="id_price"
                       name="price" required>
                       {% if form.price.errors %}
                       <div style="color:red">{{ form.price.errors }}</div>
                       {% endif %}
            </div>

            <!-- Период времени -->
            <div class="form-group">
                <label for="id_time_period" class="form-label">Период времени</label>
                <select name="time_period" id="id_time_period" class="form-control" required>
                    {% for choice in form.time_period.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                       {% if form.time_period.errors %}
                       <div style="color:red">{{ form.time_period.errors }}</div>
                       {% endif %}
            </div>

            <!-- Изображение -->
            <div class="media-body">
                <label class="btn btn-outline-primary">
                    Добавить фото
                    <input type="file" class="account-settings-fileinput"
                           id="id_image" name="image" accept="image/*">
                           {% if form.image.errors %}
                           <div style="color:red">{{ form.image.errors }}</div>
                           {% endif %}
                </label>
            </div>


            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}