{% load static %}
<div class="layout">
  <div class="content">
    <div>
      <a href="{% url 'main:index' %}" class="logo">LendMe</a>
    </div>
    <div class="search_line">
      <form class="search" role="search" action="{% url 'catalog:search' %}" method="get">
        <input type="search" name="q" class="searchTerm" placeholder="Поиск по объявлениям">
      </form>
    </div>
    <ul class="menu">
      <li><a href="#" class="nav_item">Вход и регистрация</a></li>
      <li><a href="#" class="create-item-btn">Разместить объявление</a></li>
    </ul>
  </div>
</div>
