{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="container">
  <div class="presentation"></div>

  <div class="carousel-1 owl-carousel">
      {% for category in categories %}
          <a href="{% url 'catalog:index' %}">
              <div class="owl-pic">
                  <img src="{{ category.image.url }}" alt="" />
              </div>
          </a>
      {% endfor %}
  </div>


{% for product in items %}
<!-- Карта товара -->
    <div class="product-card">
        <div class="product-item">
            <div class="product-img">
                <a href="{% url 'catalog:product' product.slug %}">
                    <img src="{{ product.image.url }}" alt="{{ product.slug }}">
                </a>
            </div>
            <div class="product-list">
                <a class="product-name" href="{% url 'catalog:product' product.id %}">
                    <h3>{{ product.name }}</h3>
                </a>
                <div class="stars"></div>
                <p class="price">{{ product.price }} ₽/{{ product.time_period }} {{ product.time_period_unit }}</p>
                <p class="data">{{ product.pub_date }}</p>
            </div>
        </div>
    </div>
{% endfor %}

</div>
{% endblock %}
