{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="container">
  <div class="presentation"></div>
  <ul>
      {% for category in categories %}
          <li><a href="{% url 'catalog:index' %}">{{ category.name }}</a></li>
      {% endfor %}
  </ul>


{% for product in items %}
<!-- Карта товара -->
    <div class="product-card">
        <div class="product-item">
            <div class="product-img">
                <a href="">
                    <img src="{{ product.image }}">
                </a>
            </div>
            <div class="product-list">
                <a href="#">
                    <h3>{{ product.name }}</h3>
                </a>
                <div class="stars"></div>
                <p><strong>{{ product.price }}</strong></p>
                <div class="actions">
                  <div class="add-to-cart">
                    <a href="" class="cart-button">В корзину</a>
                  </div>
                  <div class="add-to-links">
                    <a href="" class="wishlist"></a>
                    <a href="" class="compare"></a>
                  </div>
                  </div>
            </div>
        </div>
    </div>
{% endfor %}

</div>
{% endblock %}
