{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="container">

    <!-- Баннер -->
    <div class="presentation"></div>

    <!-- Категории -->
    <div class="carousel-1 owl-carousel">
      {% for category in categories %}
          <a href="{% url 'catalog:index' category.slug %}">
              <div class="owl-pic">
                  <img src="{{ category.image.url }}" alt="" />
              </div>
          </a>
      {% endfor %}
    </div>


    <!-- Карта товара-->
    {% include 'main/items.html' %}

</div>
{% endblock %}




