<!-- Карта товара-->
<div class="items-list">
    <!-- Здесь будут отображаться карточки товара -->
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
  $(document).ready(function () {
    var offset = 0;

    function getItems() {
      $.ajax({
        url: '/get_items/',
        data: { offset: offset },
        success: function (data) {
          data.forEach(function (item) {
            var date = new Date(item.pub_date);
            var today = new Date();
            var itemDate;
            if (date.getDate() === today.getDate() && date.getMonth() === today.getMonth() && date.getFullYear() === today.getFullYear()) {
            itemDate = 'Сегодня ' + date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
            } else {
                itemDate = date.toLocaleDateString() + date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
            }
            var itemHtml = `
                <div class="product-card">
                  <div class="product-item">
                    <div class="product-img">
                      <a href="catalog/product/${item.slug}">
                          <img src="${item.image}" alt="${item.name}" />
                      </a>
                    </div>
                    <div class="product-list">
                      <a class="product-name" href="catalog/product/${item.slug}">
                        <h3>${item.name}</h3>
                      </a>
                      <p class="price">${item.price}₽/${item.time_period}</p>
                       <p class="data">${itemDate}</p>
                    </div>
                  </div>
                </div>
            `;
            $('.items-list').append(itemHtml);
          });
          offset += 20;
        },
      });
    }

    $(window).scroll(function () {
      if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
        getItems();
      }
    });

    getItems();
  });
</script>
