{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card mb-4 custom-shadow">
        <div class="row">
            <!-- Миниатюры -->
            <div class="col-md-4">
                <img src="{{ product.image.url }}" alt="{{ product.slug }}">
            </div>

        <!-- Описание товара -->
        <div class="card-body">
            <p class="price">{{ product.price }} ₽/{{ product.time_period }}</p>
            <h5 >{{ product.name }}</h5>
            <h5 >{{ product.description }}</h5>
            <p class="data">{{ product.pub_date }}</p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
