{% extends "main/base.html" %}
{% load static %}
{% block title %} LendMe - {{ product.name }} {% endblock %}

{% block content %}
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel='stylesheet'
      href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css'>


<div class="container">
  <h1>{{ product.name }}</h1>
  <div id="content-wrapper">
    <div class="column">
      <img id="featured" src="{{ photo_preview.image.url }}" alt="">
        <div id="slide-wrapper">
          <img id="slideLeft" class="arrow" src="{% static 'icons/arrow-left.png' %}">
            <div id="slider">
              {% for p in photos %}
                <img class="thumbnail" src="{{ p.image.url }}" alt="">
              {% endfor %}
            </div>
              <img id="slideRight" class="arrow" src="{% static 'icons/arrow-right.png' %}">
        </div>
    </div>

    <div class="column">
      <div class="info">
        <h5>{{ product.description }}</h5>
        <hr>
        <h4>Цена: {{ product.price }} ₽/{{ product.time_period }}</h4>
        <p>Продавец:
          <a href="{% url 'users:profile' product.author.id %}">{{ product.author.name }}
            <img src="{% if product.author.avatar %}{{ product.author.avatar.url }}{% else %}{% static 'avatar/avatar.jpg' %}{% endif %}" />
          </a>
        </p>
        {% if product.author != request.user %}
        <div class="product-list">
          <button style="outline: none;"
                  class="add-to-favorite {% if is_added_to_favorite %}active{% endif %}"
                  data-product-item="{{ product.id }}">
            <i class="heart-icon">
              <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                   viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0
                0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                </path>
              </svg>
            </i>
          </button>
        </div>
        <div class="connection-btn">
          <button class="messenger-button" id="showPhoneNumberButton" onclick="showPhoneNumber()">Показать номер телефона</button>
            <div class="messenger-button" id="phoneNumber" style="display: none;">{{ product.author.phone_number }}</div>
          <button class="messenger-button">
              <a href="{% url 'chat:create_dialog' product.author.id %}">Написать сообщение</a></button>
        </div>
        {% endif %}
        {% if product.author == request.user %}
        <div>
          <a href="{% url 'main:edit_item' product.id %}">
            <button class="btn-edit" role="button">Редактировать</button>
          </a>
          <a href="{% url 'main:delete_item' product.id %}">
            <button class="btn-delete" role="button">Удалить</button>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<script src="{% static 'js/product.js' %}"></script>
{% endblock %}
